<div class="row">
  <div class="col"></div>

  <div class="card-body box-profile col-8 border m-2">
    <div class="text-center">
      <img class="profile-user-img img-fluid img-circle" src="https://avatars.githubusercontent.com/u/98655647?v=4"
        alt="User profile picture">
    </div>
    <h3 class="profile-username text-center">Rafael da Silva Macedo</h3>
    <p class="text-muted text-center">Conta Corrente: 0480003-0</p>
    <p class="text-muted text-center">Agência: 3182</p>
    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>Data de Nascimento</b> <a class="float-right">03/08/1994</a>
      </li>
      <li class="list-group-item">
        <b>CPF</b> <a class="float-right">***.***.530-23</a>
      </li>
      <li class="list-group-item">
        <b>Email</b> <a class="float-right">rafael9408@gmail.com</a>
      </li>
    </ul>
  </div>
  <div class="col"></div>


</div>

<div class="row text-center">
  <div class="col"></div>
  <div class="col-8 card m-2">
    <div class="col">
      <div class="card-header">
        <h1 class="text-center">Saldo</h1>
    </div>
          <hr>
          <div class="card-body">
            <h1 *ngIf="aparece" class="text-center">R$ 1870,30</h1>
          </div>

          <hr>
        <div class="card-footer text-center">
          <button (click)="alterar()" class="btn btn-lg btn-outline-secondary">Mostrar Saldo</button>
        </div>
    </div>
  </div>
  <div class="col"></div>
</div>
