<div class="container">
  <hr>
  <div class="text-center pt-2">
      <h1 class="fonte5">Mão Dupla</h1>
      <input class="text-center"type="text" [(ngModel)]="curso">

      <br>
      <p class="pt-2 fonte3">Gostei muito do curso de {{curso}}</p>

      <input type="number" [(ngModel)]="num1" class="m-1">
      <input type="number" [(ngModel)]="num2">

      <button class="m-4 btn btn-success btn-sm" (click)="somar()" >Somar</button>

      <div style="font-size: 65px;"class="text-center fonte4">{{somar()}}</div>
  </div>

</div>
