@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@200;300&family=Maven+Pro&family=Orienta&family=Press+Start+2P&family=Questrial&display=swap");

.fonte1 {
  font-family: "Comfortaa", cursive;
  justify-content: center;
  font-size: 25px;
}

.container {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: block;
  margin: 0px auto;
}