<section class="container">
    <div class="fonte1 m-5">
        {{nome}}
        <br>
        {{idade}}
        <br>
        {{cidade}}
        <br>
        {{empresa}}
        <br>
        <img class="img" [src]="enderecoImg" [width]="padrao">
        <br>
        <a class="fonte1" [href]="google" [target]="alvo">Google</a>
    </div>
</section>

<table [class]="tabela">
    <thead>
        <th>Nome</th>
        <th>Idade</th>
    </thead>
    <tbody>
        <td>Rafael</td>
        <td>28</td>
    </tbody>
</table>