<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table border="1">
    <tbody>
      <tr>
        <td colspan="3">HEADER DO SITE</td>
      </tr>
      <tr>
        <td>MENU DO SITE</td>
        <td colspan="2">
          <router-outlet></router-outlet>
          Componentes substituiveis
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>